<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
    <!-- Static values for the Activity API and AAD -->
    <add key="ActivityApiBaseUrl" value="https://manage.office.com/api/v1.0/{0}/activity/feed/" />
  <add key="ServiceCommunicationsApiBaseUrl" value ="https://manage.office.com/api/v1.0/{0}/ServiceComms/"/>
    <add key="AAD:AuthorityUrl" value="https://login.windows.net/{0}" />
    <add key="AAD:ResourceID" value="https://manage.office.com" />
    <!-- Must match client app configuration in AAD-->
    <add key="AAD:ClientId" value="89529f56-1ddc-4a32-a54d-fe1e19e2f93c" />
    <add key="AAD:ClientKey" value="9xS/DXaifCeuWtVINg3dx68bwXA2bdAR5bZdKTTszU0=" />
    <add key="AAD:ClientRedirectUri" value="https://locahost" />
    <!-- Default API input values that will be used if not passed as command line parameters. -->
    <add key="TenantId" value="f6c4d16b-90ca-423e-befb-b04c794ed5a6" />
    <add key="WebhookAddress" value="" />
    <add key="WebhookAuthId" value="" />
    <add key="WebhookExpiration" value="" />
  </appSettings>

</configuration>